<div class="container">
  <div class="py-5 text-center">
    <img class="rounded-circle img-fluid mb-3" src="<%= gravatar_url(@user, { size: 80 }) %>" alt="<%= @user.name %>">
    <h2><%= @user.name %></h2>
</div>
<div>
  <% if current_user == @user %>
  <h3 class="text-center mt-3">Log castle now!</h3>
  <div>
    <div>
      <%= form_with(model: @log, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :title, 'タイトル'%>
          <%= f.text_area :title, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= f.label :image, '画像' %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :comment, 'コメント' %>
          <%= f.text_area :comment, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :tag, 'タグ' %><span class="text-muted">(任意)</span>
          <%= f.text_area :tag, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :url, '参考URL' %><span class="text-muted">(任意)</span>
          <%= f.text_area :url, class: 'form-control' %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block mb-5' %>
      <% end %>
    </div>
  </div>
  <% else %>
  <div>
    <div class="text-center">
      <%= link_to 'Log castle now!', user_path(current_user), class: 'btn btn-md btn-secondary rounded-pill btn-block mb-3' %>
    </div>
  </div>
  <% end %>
  <div>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">My logs <span class="badge badge-secondary"><%= @count_logs %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">Favorites  <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
    </ul>
  </div>
  
  <%= render 'logs/logs', logs: @logs %>

</div>
