<div class="card-deck">
  <% @logs.each do |log| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= log.image.url %>" alt="<%= log.title %>">
      <div class="card-body">
        <h5 class="card-title"><%= log.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><span>#</span><%= log.tag %></h6>
        <p class="card-text"><small class="text-muted"><%= link_to log.user.name, user_path(log.user) %></small></p>
        <%= link_to 'Read more', log, class: 'btn btn-sm btn-primary mb-3' %>
        <div>
          <% if current_user == log.user %>
            <%= link_to "Delete", log, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm rounded-pill' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate logs %>
